.search-options {
  color: var(--cdli-blue);
  margin-top: 12px;
}

.rectangle-2 {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  padding: 10px;
}

.rectangle-23 {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  border-top: 1px solid #ccc;
  padding: 10px;
}

.search-btns {
  margin-right: 10px;
}

.search-links {
  top: 10px;
}

.plus-icon {
  margin-right: 4px;
}

.btn-remove {
  height: 36px;
  width: 38px;
}

.btn-and {
  border: 0;
  font-weight: 900;
  height: 38px;
  margin: 5px;
  width: 61px;
}

.select-background {
  background-color: #fff;
  border: solid 1px #ced4da;
  font-size: 16px;
  height: 38px;
  line-height: 1.5rem;
  margin: 5px;
}

.select-background-sm {
  background-color: #fff;
  border: solid 1px #ced4da;
  font-size: 16px;
  height: 38px;
  line-height: 1.5rem;
  margin-top: 10px;
  min-width: 100%;
}

.input-background {
  background-color: #fff;
  border: solid 1px #ced4da;
  min-width: 261px;
}

.select-background {
  background-color: #fff;
  border: solid 1px #ced4da;
  font-size: 16px;
  height: 38px;
  line-height: 1.5rem;
  margin: 5px;
}

.select-background-sm {
  background-color: #fff;
  border: solid 1px #ced4da;
  font-size: 16px;
  height: 38px;
  line-height: 1.5rem;
  margin-top: 10px;
  min-width: 100%;
}

.input-background {
  background-color: #fff;
  border: solid 1px #ced4da;
  min-width: 261px;
}

.input-background-sm {
  background-color: #fff;
  border: solid 1px #ced4da;
  min-width: 100%;
}

.input-background-child-md {
  background-color: #fff;
  border: solid 1px #ced4da;
  height: 38px;
  margin-bottom: 10px;
}

.line {
  background-color: #ccc;
  height: 1px;
  margin-top: 40px;
  width: 120px;
}

.cdli-margin {
  margin: 0;
  margin-top: 10px;
  min-width: fit-content;
}

.search-heading {
  margin-bottom: 2.1rem;
}

.end {
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 0;
}

.cross-btn-small {
  margin-left: auto;
}

.search-space {
  border: 5px solid #fff;
  white-space: normal !important;
  word-wrap: break-word;
}
