.cdli-btn-group {
  align-items: center;
  flex-direction: row-reverse;

  button {
    height: 40px;
    width: 200px;
  }
}

.query-success {
  color: #818182;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  position: absolute;
}

.queryString {
  color: #1661ab;
}

.highlightText {
  background-color: #ff0;
}

.search-links {
  color: #1661ab;

  &:hover {
    text-decoration: none;
  }
}

// Enable grid css styles
// scss-lint:disable PropertySpelling
.sort-by-search-sm {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;

  label {
    margin: 0;
  }
}

// Enable grid css styles
// scss-lint:disable PropertySpelling
.search-page-grid {
  align-items: baseline;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 3fr 1rem 1fr;
  grid-template-columns: 3fr 1fr;

  input,
  select {
    background-color: #fff;
    border: solid 1px #ced4da;
    height: 38px;
    padding: 0.25rem 0.5rem;
  }

  .grid-1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .grid-2 {
    -ms-grid-column: 3;
    grid-column: 2;
  }
}

.search-result-card h2 a {
  text-decoration: underline;
}

.search-media {
  padding-top: 15px;

  figure {
    margin: 0 auto 1rem;
    max-height: 700px;
    max-width: 400px;
    text-align: center;
  }

  img {
    max-width: 100%;
    width: auto;
  }

  figcaption {
    margin: 0 2rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  * {
    color: #fff;
  }
}

#card-view > .row > .bg-white {
  border: 1px solid #dee2e6;

  .search-media * {
    color: #000;
  }
}

.search-grid-layout p {
  margin-bottom: 0.25rem;
}

.overflow-wrapper {
  background: #fff;
  overflow: auto;
}

.overflow-wrapper::-webkit-scrollbar {
  display: none;
}

.search-table-layout {
  width: 150rem;
}

.fixed-table td,
.fixed-table th,
.search-table-layout th,
.search-table-layout td {
  height: 5rem;
  min-width: 10rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.fixed-table th,
.search-table-layout th {
  height: auto;
}

.sort-by-dd {
  width: 212px;
}

.filter-checkbox .checkbox {
  text-align: left;
}

.filter-checkbox .checkbox label input[type="checkbox"] {
  margin-right: 0.25rem;
}

.search-add-field-group {
  margin-top: 3rem;
}

.search-add-field-group button {
  margin-left: 15px;
}

.search-applied-filters p,
.sidebarFilter-p {
  color: #212529;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.sideFilterBlock .accordion > section,
.modal .accordion > section {
  background: #eee;
  padding: 0;
}

.sideFilterBlock .checkbox label input[type="checkbox"],
.modal .checkbox label input[type="checkbox"] {
  margin-right: 0.25rem;
}

.sideFilterBlock .detail-leaf,
.modal .detail-leaf {
  background: #fff;
  padding: 0 !important;
}

.sideFilterBlock label,
.modal label {
  font-size: 16px;
  margin-bottom: 0;
}

.sideFilterBlock .accordion > section > p,
.modal .accordion > section > p {
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);
  border-left: solid 1px rgba(0, 0, 0, 0.13);
  border-right: solid 1px rgba(0, 0, 0, 0.13);
  padding: 0.15rem 1rem;
}

// Outer accordion Boxes

.checkbox label input[type="checkbox"] {
  margin-right: 0.25rem;
}

.outer-accordion > section > p {
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);
  border-left: solid 1px rgba(0, 0, 0, 0.13);
  border-right: solid 1px rgba(0, 0, 0, 0.13);
  padding: 0.15rem 1rem;
}

.outer-accordion section .detail-leaf {
  max-height: 442px;
  overflow-y: auto;
}


.outer-accordion > section {
  padding: 0;
}

.outer-accordion > section > input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.outer-accordion > section > input:not(:checked) ~ .detail-leaf {
  display: none;
}

.outer-accordion > section > input:checked ~ .accordion-title,
.outer-accordion > section > .accordion-title:hover {
  background: #1661ab;
  color: #fff;
}

.outer-accordion > section > input:checked ~ .accordion-title label::after {
  transform: rotate(180deg);
}

.outer-accordion > section > .accordion-title {
  border: 1px solid #d3d3d3;
  font-size: 36px;
  margin-bottom: 0;
}

.accordion > section > h2 label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

.outer-accordion > section > p label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-top: 8px;
}

.outer-accordion > section > .accordion-title label::after {
  align-self: center;
  content: '\f078';
  font-family: 'fontawesome';
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

.outer-accordion > section > .detail-leaf {
  border: 1px solid #eee;
  padding: 1em 3em;
}

// Media queries for Filters

@media only screen and (max-width: 1060px) {
  .accordion>section>p label {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .accordion>section>p label {
    font-size: 14px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .outer-accordion>section>p label {
    font-size: 14px !important;
    padding-left: 0 !important;
  }

  .filter-option-heading {
    font-size: 15px !important;
  }

  .filter-apply-btn {
    font-size: 14px !important;
    padding: 0;
  }

  .exp-col-btn {
    font-size: small;
  }
}

// Enable grid css styles
// scss-lint:disable PropertySpelling
.extended-search-actions {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  min-height: 80px;
  text-align: left;
}

.sort-options {
  display: flex;

  div {
    margin-right: 2rem;

    label {
      margin-right: 0.5rem;
    }
  }
}

.share-modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 500ms;
  visibility: hidden;
}

.share-modal-overlay:target {
  opacity: 1;
  visibility: visible;
}

.share-modal-popup {
  background: #fff;
  border: 1px solid #666;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  margin: 20% auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

.share-modal-popup .share-modal-close {
  @include variables-alternative(background-color, #eee, --grey);
  color: #666;
  font-size: 24px;
  height: 36px;
  opacity: 0.8;
  position: relative;
  text-decoration: none;
  width: 36px;

  &:hover {
    @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {
  .search-media {
    img {
      padding: 1rem;
      padding-bottom: 0;
      padding-top: 2rem;
    }

    figcaption {
      margin: 0 1rem;
    }
  }

  .extended-search-actions {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  // Enable grid css styles
  // scss-lint:disable PropertySpelling
  .search-page-grid {
    grid-template-columns: 1fr;
  }

  .w-100-sm {
    width: 100%;
  }

  .search-add-field-group button {
    margin-left: 0;
  }

  .cdli-btn-group {
    flex-direction: column-reverse;

    button {
      width: 100%;
    }
  }

  .search-add-field-group {
    margin-top: 0;

    .cdli-btn-blue {
      margin-top: 2rem;
    }
  }
}

.search-table-layout-wrapper {
  margin-left: 20rem;
  overflow-x: auto;
  position: relative;
}

.search-table-layout-wrapper .search-table-layout tr th:first-child,
.search-table-layout-wrapper .search-table-layout tr td:first-child {
  padding-left: 40px;
}

.overflow-wrapper::after {
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  z-index: 10;
}

.fixed-table.rightfade::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
  content: '';
  height: 100%;
  position: absolute;
  right: -30px;
  top: 0;
  width: 40px;
  z-index: 10;
}

.fixed-table.rightfade::after {
  background: linear-gradient(to right, #fff, transparent 90%);
}

.width-auto {
  width: auto;
}

.fixed-table.min-width-auto th ,
.fixed-table.min-width-auto td,
.search-table-layout.min-width-auto th ,
.search-table-layout.min-width-auto td {
  min-width: auto;
}

.fixed-table.height-auto th ,
.fixed-table.height-auto td,
.search-table-layout.height-auto th ,
.search-table-layout.height-auto td {
  height: 5rem;
}

.td-y-scroll {
  margin-right: 1rem;
  max-height: 5.2rem;
  overflow-y: auto;
}

#hide-left-menu {
  display: none;
}

#hide-left-menu:checked ~ .row .sideFilterBlock {
  display: none !important;
}

#hide-left-menu:checked ~ .row .col-md-9 {
  flex: 0 0 100%;
  max-width: 100%;
}

#hide-left-menu:not(:checked) ~ .row .sideFilterBlockOptions .fa-plus-circle {
  display: none;
}

#hide-left-menu:not(:checked) ~ #moreOptionToggle {
  display: none;
}

#hide-left-menu:checked ~ .row .sideFilterBlockOptions .fa-minus-circle {
  display: none;
}

.sticky-table {
  overflow: auto;
}

.sticky-table .position-sticky {
  background-color: #fff;
  box-shadow: inset -1px 0 0 #dee2e6;
  left: 0;
  min-width: 5em;
  position: relative sticky;
  z-index: 10;
}

.sticky-table .position-sticky::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
  content: '';
  height: 100%;
  position: absolute;
  right: -30px;
  top: 0;
  width: 40px;
  z-index: 10;
}

.sticky-table .border-right {
  border-right: 1px solid #dee2e6 !important;
}

.sticky-table-wrapper {
  overflow: auto;
  position: relative;
}

.sticky-table-wrapper + .rightfade {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1));
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  z-index: 10;
}

.cellwidth {
  width: 280px;
}

.fixed-table {
  background: #fff;
  position: absolute;
  width: 20rem;
}

.scrollable-table {
  margin-left: 20rem;
}

// Download Modal CSS
.download-modal {
  background: rgba(0, 0, 0, .9);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  transition: opacity .25s ease;
  visibility: hidden;
}

.download-modal-bg {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.download-modal-state {
  display: none;
}

.download-modal-state:checked + .download-modal {
  opacity: 1;
  visibility: visible;
}

.download-modal-state:checked + .download-modal .download-modal-inner {
  top: 0;
}

.download-modal-inner {
  background: #fff;
  border-radius: 5px;
  bottom: 0;
  height: 510px;
  left: 0;
  margin: auto;
  overflow: auto;
  padding: 1em 2em;
  position: absolute;
  right: 0;
  top: -20%;
  transition: top .25s ease;
  width: 790px;
}

.download-modal-close {
  cursor: pointer;
  height: 1.1em;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
}

.download-modal-close::after,
.download-modal-close::before {
  background: #ccc;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: -3px 0 0 -1px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 2px;
}

.download-modal-close:hover::after,
.download-modal-close:hover::before {
  background: #aaa;
}

.download-modal-close::before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .download-modal-inner {
    box-sizing: border-box;
    height: 90%;
    width: 90%;
  }
}

.filter-button {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 2px;
  cursor: pointer;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10% !important;
  outline: none;
  padding: 0 !important;
  width: 42px;
}

.result-text {
  font-size: 20;
}

.small-dev-filters {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 85%;
}

.download-button-search-page {
  cursor: pointer;
}

// styling of the page

.text-bold {
  font-weight: bold;
}

.text-large {
  font-size: large;
}

.download-modal-margin {
  margin-bottom: auto !important;
}

.toggle-close-icon {
  color: #343a40;
  cursor: pointer;
  font-size: 30px !important;
}

.filter-apply-btn {
  background: none;
  border: 0;
  color: #1661ab;
  cursor: pointer;
  font-weight: bold;
}

.adv-features-heading {
  color: #343a40;
  font-weight: 400;
}

.adv-feature-border {
  border: 1px solid #ced4da;
}

// Toggle Designed

.toggle-search-filter {
  --height: calc(var(--width) / 2);
  --width: 40px;
  border-radius: var(--height);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle-search-filter input {
  display: none;
}

.toggle-search-filter .slider {
  background-color: #fff;
  border: 2px solid #adb5bd;
  border-radius: 16px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.4s ease-in-out;
  width: 100%;
}

.toggle-search-filter .slider::before {
  background-color: #adb5bd;
  border-radius: 10px;
  content: '';
  height: 15px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: 0.4s ease-in-out;
  width: 15px;
}

.toggle-search-filter input:checked + .slider::after {
  color: #2196f3;
}

.toggle-search-filter input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.filter-option-heading {
  font-size: large;
}

.download-result:hover {
  text-decoration: underline;
}

// New search: (also some of the above, mostly media
#search-filters .accordion {
  .accordion-title {
    border-color: #d3d3d3;
    box-shadow: none;
    margin: 0;
    padding: 0.15rem 1rem;

    label {
      font-size: 16px;
      padding-right: 0;
    }
  }
}

.search-card-media {
  background-color: #000;
}

.search-card-content > h2 a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .search-card-media {
    background-color: #000;
    max-width: 430px;
  }

  .search-card-content {
    flex-grow: 1;
    max-width: none;
  }
}

#search-results-compact {
  &,
  tr {
    position: relative;
  }

  &.shadow-left th:first-child::before,
  &.shadow-right::after {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 3em;
  }

  &.shadow-left th:first-child::before {
    background: linear-gradient(90deg, #fff, transparent);
    left: 100%;
  }

  &.shadow-right::after {
    background: linear-gradient(270deg, #fff, transparent);
    pointer-events: none;
    right: 0;
  }

  th:first-child {
    left: 0;
  }
}
