/* #drop-area {
  border       : 2px dashed #ccc;
  border-radius: 20px;
  width        : 480px;
  margin       : 50px auto;
  padding      : 20px;
} */

/* #fileElem {
  display: none;
} */
/* #drop-area{
  width: auto;
} */

/* .button {
  display      : inline-block;
  padding      : 10px;
  background   : #ccc;
  cursor       : pointer;
  border-radius: 5px;
  border       : 1px solid #ccc;
} */

/* .button:hover {
  background: #ddd;
} */

/* #submit {
  display      : inline-block;
  padding      : 10px;
  background   : #33cc33;
  cursor       : pointer;
  border-radius: 5px;
  border       : 1px solid #ccc;
} */

/* #submit:hover {
  background: #99e699;
} */

/* #gallery {
  justify-items: stretch;
}

#filename {} */

/* #cancelbutton {
  cursor: pointer;
} */


#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
}

#fileElem {
  display: none;
}