footer {
  background-color: #eee;
  margin-top: 100px;
}

footer a {
  color: #000;
}

.footer-end {
  background-color: #000;
}

.heading {
  padding: 1px;
}

.heading-1 {
  align-content: center;
  padding: 1px;
  text-align: center;
}

.donate {
  background-color: #1661ab;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  margin: 7px 16px;
  width: 80px;

  &:hover {
    color: #fff;
  }
}

.twitter {
  & span {
    background: #000;
    border-radius: 50%;
    color: #fff;
    margin: 5px;
    margin-right: 1rem;
    padding: 0.75rem;
  }

  & a:focus {
    outline: none;

    & span {
      outline: 2px solid #000;
    }
  }
}

.mail span {
  color: #495057;
}

.footer-1 {
  h2 {
    color: #212529;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  p {
    color: #000;
    font-size: 16px;
    line-height: 2em;
  }

  .backers a {
    color: #1661ab;
  }
}

.footer-2 {
  padding-top: 25px;
  text-align: center;
}

.p {
  line-height: 2em;
}

.img {
  height: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .footer-1 {
    h2 {
      margin-top: 1rem;
    }
  }
}
