.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#navbar-main li {
  border-bottom: 1px solid #000;
}

#navbar-main li a {
  padding: 0.5rem 1rem;
}

.navbar-logo-text {
  font-size: 1.5rem;
}

.nav-link {
  color: rgba(0, 0, 0, 1);

  &:hover {
    color: #1661ab !important;
  }
}

@media screen and (max-width: 1162px) and (min-width: 1034px) {
  #navbar-main li a {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 1033px) and (min-width: 992px) {
  #navbar-main li a {
    margin-right: -15px;
    padding: 0.5rem 0;
  }
}
