.floating-btn {
  align-items: center;
  background-color: #1661ab;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 50px;
  width: 50px;
  z-index: 1;
}

.fa-plus {
  color: #fff;
  -webkit-text-stroke: 4px #1661ab;
}
