// Importing Bootstrap
$input-placeholder-color: #bbb;
@import 'bootstrap/bootstrap';

// Importing Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

// Import page styles
// scss-lint:disable Indentation
@import 'pages/_advancedsearch', 'pages/_browse', 'pages/_home',
  'pages/_searchresults', 'pages/_searchsettings', 'pages/artifact',
  'pages/_single', 'pages/_users', 'pages/_stats', 'pages/_viz', 'pages/searchbar', 'pages/_journals', 'pages/login',
  'pages/_posting','pages/_periods','pages/_resources','pages/_dashboard',
  'pages/_journalsview','pages/_staff', 'pages/_docs';

// Import component styles
@import 'components/_cards', 'components/_footer', 'components/_nav',
  'components/_accordion', 'components/_toggle', 'components/dropdown',
  'components/gridAnchors', 'components/_nav', 'components/_diff',
  'components/_plusbtn', 'components/_citeWidgets';

@mixin small-screens {
  @media (max-width: 576px) {
    @content;
  }
}

:root {
  --black: #000;
  --cdli-blue: #1661ab;
  --cloudy-grey: #f9f9f9;
  --danger: #dd4746;
  --foggy-grey: #f7f7f7;
  --grey: #eee;
  --gunmetal: #495057;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;

  a {
    @include variables-alternative(color, #1661ab, --cdli-blue);
  }
}

// Set height of the grid so .sidenav can be 100% (adjust as needed)
.row.content {
  height: 450px;
}

// Set gray background color and 100% height
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  padding-top: 20px;
}

// On small screens, set height to 'auto' for sidenav and grid

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }

  .row {
    max-width: none;
  }
}

.contentWrapper {
  width: 80%;

  @include small-screens() {
    overflow: auto;
    width: 95%;
  }
}

// image side bar
.imagesSidebar {
  background: #333;
}

.indImageWrapper {
  margin-top: 90px;
  position: relative;
}

.indImage {
  width: 50%;
}

.indViewer {
  background: rgba(146, 146, 146, 0.87);
  bottom: 0;
  left: 25%;
  padding: 0 27px;
  position: absolute;
}

.indViewer h4 {
  font-size: 14px;
}

.imgMode {
  color: #f4f4f4;
}

// detail information

.detailsWrapper {
  padding-left: 70px;
  position: relative;
}

.indTitle {
  font-size: 30px;
  font-weight: 800;
}

.indSubTitle {
  font-size: 20px;
  margin-top: 20px;
}

.summary {
  border: 1px solid #000;
  margin-top: 30px;
  width: 100%;
}

.summaryTitle {
  background: #fff;
  font-size: 18px;
  margin-left: 35px;
  margin-top: -10px;
  padding-left: 10px;
  width: 100px;
}

.summaryBold {
  font-size: 19px;
  font-weight: 800;
}

.summaryLight {
  font-size: 18px;
  font-weight: 200;
}

.cardTitle {
  color: #000;
  font-size: 18px;
}

// Add to the UL of a pagination list to transform Bootstrap pagination into CDLI style
.pagination-dark {
  a {
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #212529 !important;
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-decoration: none;
  }

  & > .page-item > a {
    color: #000;
  }

  a:focus {
    position: relative;
    z-index: 2;
  }

  & > .active {
    & > a {
      background-color: #212529;
      color: #fff !important;
    }
  }

  & > .page-item:nth-last-child(1) > a,
  & > .page-item:nth-child(1) > a,
  & > .page-item:nth-child(2) > a {
    border: 1px solid transparent;
    border-radius: 0;
  }

  & > .page-item:nth-last-child(2) > a {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  .disabled {
    color: #a0a0a0 !important;
    cursor: default;
  }

  .arrow-svg {
    margin-bottom: 2.3px;
    width: 13px;
  }

  .rotate-svg {
    transform: rotate(180deg);
  }
}

.paginator p {
  font-size: 0.8rem;
}

.fa-angle-double-left {
  color: #495057;
}

.fa-angle-double-right {
  color: #495057;
}

// Add to a TABLE tag to transform it into a Bootstrap CDLI Table
.table-bootstrap {
  @extend .table;
  @extend .border-bottom;

  & > thead {
    @extend .table-secondary;
  }

  & > tbody {
    & > tr {
      & > td:nth-child(1) {
        @extend .border-right;
      }
    }

    & > tr > th {
      @extend .border-right;
      @extend .table-secondary;
    }
  }
}

// For all loading spinners
.rotation {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

// Small caps primarily for table heads
.small-caps {
  font-variant: small-caps;
}

// Used in forms
.boxed {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  margin: 1rem;
  overflow: auto;
  padding: 40px;
  text-align: left;
}

.capital-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

// Used in Related Actions box
.btn-action {
  @extend .btn;
  @extend .btn-light;
  @extend .text-primary;
}

// Blue button
.cdli-btn-blue {
  @include variables-alternative(background-color, #1661ab, --cdli-blue);
  color: #fafafa;
}

.cdli-btn-blue:hover {
  @include variables-alternative(background-color, #1661ab, --cdli-blue);
  color: #fafafa;
  text-decoration: none;
}

// Wide button
.wide-btn {
  height: 40px;
  width: 280px;
}

// Light button
.cdli-btn-light {
  @include variables-alternative(background-color, #eee, --grey);
  color: #000;
}

// Centertext
.textcenter {
  text-align: center;
}

// box-shadows
.shadow {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

// translucent-film
.translucent-film {
  background-color: rgba(238, 238, 238, 0.75);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

// sidemenu drawer component
.side-nav {
  background-color: #f9f9f9;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;

  a {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    transition: 0.3s;
  }
}

.bg-foggy-grey {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
}

.embedded-links {
  margin-left: 1.5rem;
}

.login-border {
  border-top: 1px solid #000;
}

.side-nav > a {
  border-bottom: 1px solid #ccc;
}

.sidebar-btn-close {
  background: #ccc;
  font-size: 36px;
  font-weight: 700;
  margin-right: 50px;
  padding: 0 1rem;
  position: absolute;
  right: 32px;
  top: 3.25rem;
}

.header {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media only screen and (max-width: 600px) {
  .navbar-logo img {
    width: 6rem;
  }

  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sidebar-btn-close {
    margin-right: 0;
    right: 20px;
    top: 2.75rem;
  }

  .wide-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .pagination-dark .prev {
    display: none;
  }

  .pagination-dark .next {
    display: none;
  }
}
// ( CDLI logo with text ) svg
.cdlilogo {
  height: 5.2rem;
  width: 23.5rem;
}

#menubar {
  color: #000;

  & :hover {
    cursor: pointer;
  }
}

.form-wrapper {
  border: 1px solid #dfdfdf;
  padding: 1.25rem 2.75rem 2rem;
}

.form-heading {
  font-size: 24px;
  margin-left: -1.5rem;
  text-transform: uppercase;
}

.form-hr {
  margin: 0 -45px;
}

.custom-form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #495057 60%), linear-gradient(135deg, #495057 40%, transparent 50%) !important;
  background-position: calc(100% - 20.8px) 16px, calc(100% - 16px) 16px, 100% 0;
  background-repeat: no-repeat;
  background-size: 5px 6px, 5px 6px;
}

.error-message {
  color: #dd4746;
  font-size: 0.9rem;
}

.cursor_not-allowed {
  cursor: not-allowed;
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

button.select2-selection__clear {
  display: none !important;
}

span.select2-selection.select2-selection--single {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0;
  color: #495057;
  display: block;
  font-size: 1rem;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: 0.25rem 0.75rem 0.75rem 0.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

span.select2-selection__arrow {
  display: none !important;
}

#img_file {
  color: transparent;
  width: 102px;
}

#fileLabel {
  border: solid 1.5px #000;
  left: 115px;
  margin-left: 5px;
  padding-left: 3px;
  position: absolute;
  top: 8px;
}

#fileLabel::after {
  content: 'X';
  font-size: 0.8rem;
  margin-left: 6px;
  padding: 6px 5px 5px 1px;
}

label#fileLabel:hover::after {
    cursor: pointer;
}

#img_file::-webkit-file-upload-button {
    display: var(--custon-img, inline);
}

.fileLabel {
  left: 1px !important;
  top: 4.8px !important;
}

#img_file:disabled {
  background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #1661ab !important;
}

button#add_button {
  background-color: #1661ab !important;
}

.w-70-mq-100 {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .w-70-mq-100 {
    width: 100%;
  }
}

.add-new-fields {
  background-color: var(--grey);
  margin: 0 -1.5rem 1.5rem;
  padding: 3.25rem 1.5rem 1.5rem;
  position: relative;

  .btn_remove {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
}

// Resources Dropdown
.resources-dropdown-outside {
  height: 50px;
  left: -20%;
  position: absolute;
  top: 29px;
  width: 160px;
  z-index: 0;
}

.resources-menu-space {
  line-height: 2em;
  }

.resources-dropdown {
  display: inline-block;
  position: relative;
}

.resources-heading-color {
  color: #1661ab;
}

.resources-dropdown-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  display: none;
  height: auto;
  left: -530%;
  position: absolute;
  top: 50px;
  width: 745px;
  z-index: 1;
}

.resources-dropdown:hover .resources-dropdown-content {display: block;}

.text-black {
  color: #000;
}

.required label::after {
  color: #e32;
  content: ' *';
  display: inline;
}

.single-entity-wrapper {
    border: 1px solid #dfdfdf;
    margin-top: 15px;
    padding: 1.25rem 2.75rem;
}

.text-heading {
  font-size: xx-large;
  font-weight: 500;
}
